body{background-color: aqua;
}

.h{
    text-align: center;
    
}
.d{
    text-align: center;
    color: blue;
}
.b{
    text-align: center;
}

.c{
    text-align: center;
    color:darkred;
}
.f{ background-color: gold;
    text-align: center;
}
.love{
    background-color:black;
}